<html>
    <head>
        <title>Login with Facebook</title>
    </head>
    <body>
        <h1>Bracket Excellence</h1>
        <br>
        <h3>Login</h3>
        <p>{{test}}</p>
        <br><br><br><br><br><br><br>
        <form method="POST" action="/login"> 
            <label>Email</label>
            <br>
            <input type="text" name="email"  required>
            <br><br><br>
            <label>Password</label>
            <br>
            <input type="password" name="password"  required>
            <p></p>
            <br><br><br><br>
            <button type="submit">Login</button>
        </form>
        <a href="/auth/facebook">Login with facebook</a>
    </body>
</html>