<html>
    <head>
        <title>Login with Facebook</title>
    </head>
    <body>
        <h1>Bracket Excellence</h1>
        <br>
        <h3>Signup</h3>
        <br><br><br><br><br><br><br>
        <form method="POST" action="/signup"> 
            <label>Email</label>
            <br>
            <input type="text" name="email"  required>
            <br><br><br>
            <label>Username</label>
            <br>
            <input type="text" name="username"  required>
            <br><br><br>
            <label>Password</label>
            <br>
            <input type="password" name="password"  required>

            <br><br><br><br>
            <button type="submit">Signup</button>
        </form>
    </body>
</html>